* {
    margin: 0px;
}

.Container {
    display: flex;
    flex-direction: row;
    background-color: rgba(12, 12, 12, 0.568);
    width: auto;
    min-height: 100%;
}


.Sector1 {
    background-color: rgba(32, 32, 32, 0.466);
    width: 25%;
    
    border: 0.5px solid rgb(43, 43, 43);
}

.Sector1DO {
    display: none;
    width: 25%;
    
    border: 0.5px solid rgb(43, 43, 43);
}
.Sector1DC {
    display: none;
    width: 25%;
    
    border: 0.5px solid rgb(43, 43, 43);
}

.ContainerDatos {
    top: 0px;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Portada {
    margin: 50px;
}

.fotoPortada {
    border-radius: 360px;
    width: 300px;
    border: rgb(43, 43, 43) solid 3px;
}
.Redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Red {
    display: flex;
    width: 120px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(66, 66, 66);
    padding: 10px;
    border-radius: 15px;
    margin: 15px;
    align-items: center;
    transition: 0.3s;
    justify-content: space-between;
    font:icon;
    font-size: large;
}

.BotonDesplegeBoton {
    display: flex;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: calc(1.5vh + 1.5vw);
    border-bottom-right-radius: calc(1.5vh + 1.5vw);
    left: 100%;
    top: 20%;
    width: calc(5vh + 3vw);
    height:calc(5vh + 3vw) ;
    background-color: rgba(32, 32, 32, 0.63);
    font-size: calc(1.5vh + 1.5vw);
    transition: all 0.5s;
}

.BotonDesplegeBotonO {
    display: flex;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: calc(1.5vh + 1.5vw);
    border-bottom-right-radius: calc(1.5vh + 1.5vw);
    left: 100%;
    top: 80%;
    width: calc(5vh + 3vw);
    height:calc(5vh + 3vw) ;
    background-color: rgba(32, 32, 32, 0.63);
    font-size: calc(1.5vh + 1.5vw);
    transition: all 0.5s;
}

.Red:hover {
    display: flex;
    width: 130px;
    transition: 0.5s;
    background-color: rgb(207, 207, 207);
    color: rgb(0, 0, 0);
}

.Sector2 {
    background-color: rgba(36, 36, 36, 0.432);
    width: 50%;
   
    border: 0.5px solid rgb(43, 43, 43);
}


.Sector3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    width: 25%;
  
    border: 0.5px solid rgb(43, 43, 43);
    top: 0px;
}

.globoTexto {
    position: absolute;
    background-color: rgb(150, 243, 255);
    color: black;
    width: 19vw;
    height: 15vw;
    padding: 2vw;
    left: -2vw;
    top: -20vw;
    border-radius: 2vw;
    z-index: 1;
    border-left: 2px white solid;
    border-bottom: 1px white solid ;
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.5vw;
    font-weight: bold;
}
.globoTexto::after {

    content: '';
 
    position: absolute;
 
    bottom: 0; 
 
    left: 1px;
 
    background: transparent;
 
    width: 0px; height: 0px;
 
    border-bottom: 2vw solid rgb(150, 243, 255);
 
    border-right: 5vw solid transparent;
 
    border-left: 5vw solid transparent;
 
    transform: rotate(-92deg);
    z-index: -1;
 
    }

.windowsPerro {
    display: flex;
    background-color: aqua;
    position: sticky;
    justify-self: center;
    width: 20vw;
    height: 20vw;
    top: 55vh;
}

.windowsPerroC {
    display: none;
    background-color: aqua;
    position: sticky;
    justify-self: center;
    width: 20vw;
    height: 20vw;
    top: 55vh;
}


.canvas {
    background-color: aqua;
    width: 20vw;
    height: 20vw;
}


.canvasContainer {
    position: sticky;
    top: 55vh;
}


@media (max-width: 1400px) {
    
    
}

@media (max-width: 1250px) {
    .Sector1 {
        display: none;
        width: 25%;
        
        border: 0.5px solid rgb(43, 43, 43);
    }

    .Sector1DO {
        position:fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(32, 32, 32, 0.63);
        width: 75%;
        left:0px;
        height: 100%;
        border: 0.5px solid rgb(43, 43, 43);
        z-index: 4;
        transition: all 0.5s;
    }
    .Sector1DC {
        position:fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(32, 32, 32, 0.63);
        width: 75%;
        left: -75%;
        height: 100%;
        border: 0.5px solid rgb(43, 43, 43);
        z-index: 4;
        transition: all 0.5s;
    }

    .Portada {
        margin: 3vh;
    }
    
    .fotoPortada {
        border-radius: 360px;
        width: calc(10vw + 5vh);
        border: rgb(43, 43, 43) solid 3px;
    }
    .Redes {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .Red {
        display: flex;
        width: calc(17vw + 5vh);
        color: rgb(255, 255, 255);
        text-decoration: none;
        background-color: rgb(66, 66, 66);
        padding: calc(1vw + 1vh);
        border-radius: 2vw;
        margin: 1.5vh;
        align-items: center;
        transition: 0.3s;
        justify-content: space-between;
        font:icon;
        font-size: calc(1vw + 1vh);
    }
    
    .Red:hover {
        display: flex;
        width: calc(18vw + 6vh);
        transition: 0.5s;
        background-color: rgb(207, 207, 207);
        color: rgb(0, 0, 0);
    }

    .Sector2 {
        width: 75%;
       
        border: 0.5px solid rgb(43, 43, 43);
    }
}

@media (max-width: 850px) {
    
}

@media (max-width: 500px) {
    
}
