


.contenidoBox {
    background-color: rgba(26, 26, 26, 0);
    margin: 15px;
    padding: 5px;
}

.Parrafo {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px;
    color: rgb(118, 240, 240);
    background-color: rgba(15, 15, 15, 0.726);
    font-family:'Roboto Mono', monospace;
}


.Titulo {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px;
    width: fit-content;
    color: rgb(163, 163, 163);
    
    font-family:'Roboto Mono', monospace;
    font-size: larger;
}


.contenidoSitios {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}



.TituloSitio {
    margin-bottom: 5px;
    margin-left: 10px;
    margin-top: 5px;
    padding: 10px;
    width: fit-content;
    color: rgb(255, 255, 255);
    
    font-family:'Roboto Mono', monospace;
    font-size: 3vw;
}

.sitio {
    position: relative;
    width: 70%;
    height: auto;
    background-color: rgba(18, 22, 54, 0.863);
    border-radius: 20px;
    margin: 10px;
    text-decoration: none;
    transition:0.5s;
    user-select: none;
}

.sitio:hover {
    position: relative;
    top: -5px;
    box-shadow: -5px 5px 0px 0px rgba(14, 15, 19, 0.616);
    transition: 0.5s;
}

.Desc {
    margin-left: 10px;
    color: rgb(118, 240, 240);
    font-family:'Roboto Mono', monospace;
    font-size: 3vw;
    margin: 20px;
}