.menuContainer {
    display: flex;
    align-items: center;

    background-color: rgb(32, 32, 32);
    position: sticky;
    top: 0px;
    justify-content: space-evenly;
    height: calc(2vw + 2vh);
    padding: calc(0.1vw + 0.1vh);
    z-index: 2;
    text-decoration: none;
}

.boton {
    display: flex;
    align-items: center;
    font-size: calc(1.2vw + 1.2vh);
    color: aqua;
    border: none;
    min-width: fit-content;
    height: calc(2vw + 2vh);
    background-color: rgb(32, 32, 32);
    z-index: 2;
}

.boton:hover {
    outline: calc(0.1vw + 0.1vh) rgb(77, 77, 77) solid;
    text-decoration: none;
}

.botonLink {
    display: flex;
    align-items: center;
    height: fit-content;
    text-decoration: none;
}