.Projecto {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(26, 26, 26, 0);
    margin: calc(0.5vh + 0.5vw);
    padding: 5px;
}

.ProjectoPresentacion {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: rgba(26, 26, 26, 0.527);
    margin: calc(0.4vh + 0.4vw);
    padding: calc(0.4vh + 0.4vw);;
}

.ProjectoBox {

    padding: calc(0.4vh + 0.4vw);
    height: 100%;
    width: auto;
    background-color: rgba(15, 15, 15, 0);
    display: flex;
    order: auto;
    justify-content: space-around;
    border-radius: calc(0.4vh + 0.4vw);
}

.ProjectoContainer {
    background-color: rgba(15, 15, 15, 0.692);
    margin: calc(0.5vh + 0.5vw);
    width: 48%;
    height: calc(9vw + 9vh);
    order: auto;
    margin-left: auto;
    border-radius: calc(0.4vh + 0.4vw);
}


@keyframes spawn{
    0% {
        opacity: 0%;
    }

    99% {
        opacity: 100%;
    }

    100% {
        opacity: 100%;
    }
}
@keyframes jump{
    0% {
        position: relative;
        top: 0;
    }

    50% {
        top: -4px;
    }

    75% {
        top: 0px;
    }

    90% {
        top: -2px;
    }

    99% {
        position: relative;
        top: 0px;
    }

    100% {

    }
}

.ProjectoContainer:hover {
    position: relative;
    outline: rgb(61, 61, 61) solid 1px;
    box-shadow: -5px 5px 2px 1px rgb(14, 12, 12);
    top: -2px;
    transition: outline 0.2s, box-shadow 0.2s, top 2s;
}

.ProjectoContainerOpen {
    display: flex;
    flex-direction: column;
    background-color: rgba(15, 15, 15, 0.63);
    margin: calc(0.4vh + 0.4vw);
    padding: calc(0.4vh + 0.4vw);
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
    transition: width 0.5s;
    order:-1;
    border-radius: calc(0.4vh + 0.4vw);
}


.ProjectoFotos {
    border: calc(0.1vw + 0.1vh) solid rgb(43, 43, 43);
    display: grid;
    grid-template-rows: calc(3vw + 3vh) calc(3vw + 3vh) ;
    grid-template-columns: calc(3vw + 3vh) calc(3vw + 3vh) ;
    grid-auto-rows: calc(3vw + 3vh); 
    grid-auto-columns: calc(3vw + 3vh); 
    grid-auto-flow: row;
    height: fit-content;
}


.ProjectoFotosOpen {
    display: none;
}

.ProjectoTexto {
    display: flex;
    flex-direction: column;
    align-items:center;
    color: rgb(118, 240, 240);
    width: 100%;
    font-family:'Roboto Mono', monospace;
}

.ProjectoParrafo {
    text-align: justify;
    margin-bottom: 5px;
    margin-top: 5px;
    color: rgb(187, 199, 199);
    width: 100%;
    font-family:'Roboto Mono', monospace;
    font-size:small;

}
.ProjectoSubtitulo {
    text-align: center;
    margin-bottom: calc(0.3vw + 0.3vh);
    margin-right: calc(0.3vw + 0.3vh);
    color: rgb(118, 240, 240);
    width: 100%;
    font-family:'Roboto Mono', monospace;
    text-shadow: 1px 1px 2px rgb(80, 91, 97);
    font-size: calc(0.8vw + 0.8vh);

}

.ProjectoTitulo {
    margin-bottom: calc(0.4vw + 0.4vh);
    margin-top: calc(0.4vw + 0.4vh);
    padding: calc(0.1vw + 0.1vh);
    width: fit-content;
    color: rgb(163, 163, 163);
    text-shadow: 1px 1px 2px rgb(73, 57, 57);
    font-family:'Roboto Mono', monospace;
    font-size: calc(1vw + 1vh);
    animation: titulo 1s ease-in forwards;
}


.ProjectoDesc {
    display: none;
    opacity: 0%;
}

.ProjectoDescOpen {
    display: flex;
    visibility: visible;
    opacity: 100%;
    flex-direction: column;
    align-items:start;
    width: 100%;
    transition: visibility 2s, opacity 2s ;
}


.ImagenDesc {
    width: 100%;
    height: 50%;
    border: 0.5px solid rgb(43, 43, 43);
    margin-top: 15px;
    margin-bottom: 15px;
}

.BotonCerrarC {
    display: none;
}

.BotonCerrarO {
    align-self: flex-end;
    border: none;
    height: 40px;
    font-size: 30px;
    background-color:rgba(31, 31, 31, 0);
    color: rgb(63, 63, 63);
    transition: 0s;
}

.BotonCerrarO:hover {
    color: rgb(92, 92, 92);
    font-size: 33px;
    transition: 0s;
}

.UrlContainer {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px;
}

.Url {
    display: list-item;
    list-style-position: inside;
    text-decoration: none;
    font-size:small;
}
/*
@media (max-width: 1400px) {
.ProjectoFotos {

    display: grid;
    grid-template-rows: 60px 60px ;
    grid-template-columns: 60px 60px ;
    grid-auto-rows: 60px; 
    grid-auto-columns: 60px; 
    grid-auto-flow: row;
    height: fit-content;
}
}


@media (max-width: 1270px) {
    .ProjectoFotos {

        display: grid;
        grid-template-rows: 50px 50px ;
        grid-template-columns: 50px 50px ;
        grid-auto-rows: 200px; 
        grid-auto-columns: 200px; 
        grid-auto-flow: row;
        height: fit-content;
    }
    .ProjectoContainer {

        margin: 10px;
        width: 100%;
        height: fit-content;
        order: auto;
    }
    .ProjectoContainer:hover {
        outline: rgb(61, 61, 61) solid 1px;
        margin: 10px;
    }
    .ProjectoBox {
        margin: 0px;
        padding: 10px;
        height: 100%;
        width: auto;
        display: flex;
        order: auto;
        justify-content: space-around;
    }

    
}

@media (max-width: 800px) {
    .ProjectoTexto {
        display: flex;
        flex-direction: column;
        align-items:center;
        margin-bottom: 5px;
        margin-top: 5px;
        color: rgb(118, 240, 240);
        width: 100%;
        font-size: 15px;
        
    }
    .ProjectoParrafo {
        text-align: justify;
        margin-bottom: 5px;
        margin-top: 5px;
        color: rgb(187, 199, 199);
        width: 100%;
        font-size:15px;
    
    }
    .ProjectoSubtitulo {
        text-align: center;
        margin-bottom: 15px;
        margin-top: 5px;
        color: rgb(118, 240, 240);
        width: 50%;


    
    }
    .Url {
        display: list-item;
        list-style-position: inside;
        text-decoration: none;
        font-size:15px;
    }
}

@media (max-width: 600px) {
    .ProjectoTexto {
        display: flex;
        flex-direction: column;
        color: rgb(118, 240, 240);
        width: 100%;
        font-size: 12px;
    }
    .ProjectoParrafo {
        font-size: 12px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .ProjectoSubtitulo {

        width: 100%;
    }

    .ProjectoFotos {
        border: 0.5px solid rgb(43, 43, 43);
        display: grid;
        grid-template-rows: 25px 25px ;
        grid-template-columns: 25px 25px ;
        grid-auto-rows: 50px; 
        grid-auto-columns: 50px; 
        grid-auto-flow: row;
        height: fit-content;
    }
    .ProjectoContainer {

        width: 100%;
        height: fit-content;
        order: auto;
    }
    .ProjectoContainer:hover {
        outline: rgb(61, 61, 61) solid 1px;
    }
    .ProjectoBox {
        margin: 0px;
        height: 100%;
        width: auto;

        display: flex;
        order: auto;
    }
    .ProjectoTitulo {
        margin-bottom: 1px;
        margin-top: 1px;
        width: fit-content;
        color: rgb(163, 163, 163);

    }
    .Url {
        display: list-item;
        list-style-position: inside;
        text-decoration: none;
        font-size:12px;
    }
}
/
@media (max-width: 400px) {
    .ProjectoTexto {
        display: flex;
        flex-direction: column;
        color: rgb(118, 240, 240);
        width: 100%;
        font-size: 5px;
        margin-bottom: 0.5px;
        margin-top: 0px;
        padding-inline: 10px;
        padding-bottom: 0px;
    }
    .ProjectoParrafo {
        font-size: 9px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .ProjectoSubtitulo {

        width: 100%;
    }
    .ProjectoContainer {

        margin: 5px;
        width: 100%;
        height: fit-content;
        order: auto;
    }
    .ProjectoContainer:hover {
        outline: rgb(61, 61, 61) solid 1px;
        margin: 5px;
    }
    .ProjectoBox {
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: auto;

        display: flex;
        order: auto;
        justify-content: space-around;
    }

    .Projecto {
        display: flex;
        flex-wrap: wrap;

        margin: 5px;
        padding: 5px;
    }
    .ProjectoContainerOpen {
        display: flex;
        flex-direction: column;

        margin: 5px;
        padding: 5px;
        width: 100%;
        height: fit-content;
        justify-content: space-evenly;
        transition: 0s;
        order:-1;
    }
    .Url {
        display: list-item;
        list-style-position: inside;
        text-decoration: none;
        font-size: 9px;
    }
}
    */

@media (max-width: 500px) {
    .ProjectoBox {

        padding: calc(0.4vh + 0.4vw);
        height: 100%;
        width: auto;
        background-color: rgba(15, 15, 15, 0);
        display: flex;
        order: auto;
        justify-content: space-around;
        border-radius: calc(0.4vh + 0.4vw);
    }
    .ProjectoContainer {
        background-color: rgba(15, 15, 15, 0.692);
        margin: calc(0.5vh + 0.5vw);
        width: 100%;
        height: calc(9vw + 9vh);
        order: auto;
        margin-left: auto;
        border-radius: calc(0.4vh + 0.4vw);
    }

}