.Projecto {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(26, 26, 26);
    margin: 15px;
    padding: 5px;
}

.ProjectoBox {
    margin: 0px;
    padding: 10px;
    height: 100%;
    width: auto;
    background-color: rgb(15, 15, 15);
    display: flex;
    order: auto;
    justify-content: space-around;
}

.ProjectoContainer {
    background-color: rgb(15, 15, 15);
    margin: 10px;
    width: 48%;
    height: fit-content;
    order: auto;
    margin-left: auto
}

.ProjectoContainer:hover {
    outline: rgb(61, 61, 61) solid 1px;
    margin-left: auto
}

.ProjectoContainerOpen {
    display: flex;
    flex-direction: column;
    background-color: rgb(15, 15, 15);
    margin: 10px;
    padding: 10px;
    width: 100%;
    height: fit-content;
    justify-content: space-evenly;
    transition: 0s;
    order:-1;
}


.ProjectoFotos {
    border: 0.5px solid rgb(43, 43, 43);
    display: grid;
    grid-template-rows: 100px 100px ;
    grid-template-columns: 100px 100px ;
    grid-auto-rows: 200px; 
    grid-auto-columns: 200px; 
    grid-auto-flow: row;
    height: fit-content;
}


.ProjectoFotosOpen {
    display: none;
}

.ProjectoTexto {
    display: flex;
    flex-direction: column;
    align-items:center;
    color: rgb(118, 240, 240);
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:small;

}

.ProjectoParrafo {
    text-align: justify;
    margin-bottom: 5px;
    margin-top: 5px;
    color: rgb(118, 240, 240);
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:small;

}
.ProjectoSubtitulo {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 5px;
    color: rgb(118, 240, 240);
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:small;

}

.ProjectoTitulo {
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px;
    width: fit-content;
    color: rgb(163, 163, 163);
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}


.ProjectoDesc {
    display: none;
}

.ProjectoDescOpen {
    display: flex;
    flex-direction: column;
    align-items:start;
    width: 100%;
}


.ImagenDesc {
    width: 100%;
    height: 50%;
    border: 0.5px solid rgb(43, 43, 43);
}

.BotonCerrarC {
    display: none;
}

.BotonCerrarO {
    align-self: flex-end;
    border: none;
    height: 40px;
    font-size: 30px;
    background-color:rgba(31, 31, 31, 0);
    color: rgb(32, 32, 32);
    transition: 0s;
}

.BotonCerrarO:hover {
    color: rgb(92, 92, 92);
    font-size: 33px;
    transition: 0s;
}

.UrlContainer {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 10px;
}

.Url {
    display: list-item;
    list-style-position: inside;
    text-decoration: none;
    font-size:small;
}


@media (max-width: 1700px) {
    .ProjectoFotos {
        border: 0.5px solid rgb(43, 43, 43);
        display: grid;
        grid-template-rows: 50px 50px ;
        grid-template-columns: 50px 50px ;
        grid-auto-rows: 200px; 
        grid-auto-columns: 200px; 
        grid-auto-flow: row;
        height: fit-content;
    }
    .ProjectoContainer {
        background-color: rgb(15, 15, 15);
        margin: 10px;
        width: 100%;
        height: fit-content;
        order: auto;
    }
    .ProjectoContainer:hover {
        outline: rgb(61, 61, 61) solid 1px;
        margin: 10px;
    }
    .ProjectoBox {
        margin: 0px;
        padding: 10px;
        height: 100%;
        width: auto;
        background-color: rgb(15, 15, 15);
        display: flex;
        order: auto;
        justify-content: space-around;
    }

    
}

@media (max-width: 800px) {
    .ProjectoTexto {
        display: flex;
        flex-direction: column;
        align-items:center;
        margin-bottom: 5px;
        margin-top: 5px;
        color: rgb(118, 240, 240);
        width: 100%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 15px;
        
    }
    .ProjectoParrafo {
        text-align: justify;
        margin-bottom: 5px;
        margin-top: 5px;
        color: rgb(118, 240, 240);
        width: 100%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size:15px;
    
    }
    .ProjectoSubtitulo {
        text-align: center;
        margin-bottom: 15px;
        margin-top: 5px;
        color: rgb(118, 240, 240);
        width: 50%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size:15px;
    
    }
    .Url {
        display: list-item;
        list-style-position: inside;
        text-decoration: none;
        font-size:15px;
    }
}

@media (max-width: 600px) {
    .ProjectoTexto {
        display: flex;
        flex-direction: column;
        color: rgb(118, 240, 240);
        width: 100%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 12px;
    }
    .ProjectoParrafo {
        font-size: 12px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .ProjectoSubtitulo {
        font-size: 12px;
        width: 100%;
    }

    .ProjectoFotos {
        border: 0.5px solid rgb(43, 43, 43);
        display: grid;
        grid-template-rows: 25px 25px ;
        grid-template-columns: 25px 25px ;
        grid-auto-rows: 50px; 
        grid-auto-columns: 50px; 
        grid-auto-flow: row;
        height: fit-content;
    }
    .ProjectoContainer {
        background-color: rgb(15, 15, 15);
        width: 100%;
        height: fit-content;
        order: auto;
    }
    .ProjectoContainer:hover {
        outline: rgb(61, 61, 61) solid 1px;
    }
    .ProjectoBox {
        margin: 0px;
        height: 100%;
        width: auto;
        background-color: rgb(15, 15, 15);
        display: flex;
        order: auto;
    }
    .ProjectoTitulo {
        margin-bottom: 1px;
        margin-top: 1px;
        width: fit-content;
        color: rgb(163, 163, 163);
        
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: x-small;
    }
    .Url {
        display: list-item;
        list-style-position: inside;
        text-decoration: none;
        font-size:12px;
    }
}

@media (max-width: 400px) {
    .ProjectoTexto {
        display: flex;
        flex-direction: column;
        color: rgb(118, 240, 240);
        width: 100%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 5px;
        margin-bottom: 0.5px;
        margin-top: 0px;
        padding-inline: 10px;
        padding-bottom: 0px;
    }
    .ProjectoParrafo {
        font-size: 9px;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    .ProjectoSubtitulo {
        font-size: 9px;
        width: 100%;
    }
    .ProjectoContainer {
        background-color: rgb(15, 15, 15);
        margin: 5px;
        width: 100%;
        height: fit-content;
        order: auto;
    }
    .ProjectoContainer:hover {
        outline: rgb(61, 61, 61) solid 1px;
        margin: 5px;
    }
    .ProjectoBox {
        margin: 0px;
        padding: 0px;
        height: 100%;
        width: auto;
        background-color: rgb(15, 15, 15);
        display: flex;
        order: auto;
        justify-content: space-around;
    }

    .Projecto {
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(26, 26, 26);
        margin: 5px;
        padding: 5px;
    }
    .ProjectoContainerOpen {
        display: flex;
        flex-direction: column;
        background-color: rgb(15, 15, 15);
        margin: 5px;
        padding: 5px;
        width: 100%;
        height: fit-content;
        justify-content: space-evenly;
        transition: 0s;
        order:-1;
    }
    .Url {
        display: list-item;
        list-style-position: inside;
        text-decoration: none;
        font-size: 9px;
    }
}